/* Globales */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Raleway", sans-serif;
  color: white;
  background-color: black;
}
/* Header */
.navbar {
  padding-left: 12%;
  padding-right: 12%;
}
#carouselAutoplaying img {
  max-height: 80vh;
  object-fit: cover;
}
/* Main */
main {
  padding-left: 12%;
  padding-right: 12%;
}
h2 {
  text-align: center;
  font-size: 1.5rem;
}
/* Quiénes somos */
i {
  background-color: #0dcaf0;
  padding-top: 1px;
  padding-bottom: 1px;
}
/* Destacados */
/* .card-img-top {
  height: 100%;
  width: auto; 
}*/
/* Cntacto */
#contacto .btn {
  color: white;
}
